body{
    text-align: center;
    height: auto;
    width: auto;
}
.banner{
    margin: auto;
    margin-top: 10px;
    background-image: url(resources/Banner.jpg);
    height: 600px;
    width: 1320px;
    border-radius: 16px;
}

.fast-text{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hny{
    font-size: 32px;
    font-family: 'Merriweather', serif;;
}

.nypc{
    font-size: 72px;
    font-family: 'Merriweather', serif;
}

.off{
    height: 806px;
    width: 802.9px;
    margin: auto;
    font-size: 88px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: red;
}

.ohdb{
    color: red;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: medium;
}

.ac{
    color: black;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.nyd{
    height: 500px;
    width: 802.9px;
}

.section-3{
    background-image: url(resources/Vectorrr.jpg);
    display: flex;
    height: 600px;
    width: 1320px;
    margin: auto;
}

.left-3{
    color: white;
    margin-top: 150px;
    margin-left: 100px;
    height: 100%;
    width: 60%;
    text-align: left;
}

.right-3{
    height: 100%;
    width: 40%;
}

.imgleft-3{
    margin: 70px;
    height: 450px;
    width: 310px;
}

.wtmp{
    font-size: 64px;
    font-family: 'Inter', sans-serif;
}

.dsac{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.join-1{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-left: 110px;
    color: white;
}

.shedule{
    height: 482px;
    width: 1320px;
    background-image: linear-gradient(pink , white);
    text-align: center;
    margin: auto;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.jn{
    padding: 10px;
    border-radius: 10px;
    background: red;font-weight: bold;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: white;
}

.table-1{
    height: 463px;
    width: 1320px;
}

.td-1{
    height: auto;
    width: 420px;
    align-items: left;
}

.nbo{
    color: red;
    font-size: 24;
    
}