body{
    text-align: center;
    height: auto;
    width: auto;
}
.banner{
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(80deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url("resources/Banner.jpg");
    height: 600px;
    width: 1320px;
    border-radius: 16px;
}

.fast-text{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hny{
    font-size: 32px;
    font-family: 'Merriweather', serif;;
}

.nypc{
    font-size: 72px;
    font-family: 'Merriweather', serif;
}

.off{
    height: 806px;
    width: 802.9px;
    margin: auto;
    font-size: 88px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: red;
}

.ohdb{
    color: red;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: medium;
}

.ac{
    color: black;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.nyd{
    height: 500px;
    width: 802.9px;
}

.section-3{
    background: linear-gradient(80deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url("resources/Vectorrr.jpg");
    display: flex;
    height: 600px;
    width: 1320px;
    margin: auto;
    border-radius: 16px;
}

.left-3{
    color: white;
    margin-top: 150px;
    margin-left: 100px;
    height: 100%;
    width: 60%;
    text-align: left;
}

.right-3{
    height: 100%;
    width: 40%;
}

.imgleft-3{
    margin: 70px;
    height: 450px;
    width: 310px;
}

.wtmp{
    font-size: 64px;
    font-family: 'Inter', sans-serif;
}

.dsac{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    color: rgb(136, 126, 112);
}

a{
    text-decoration: none;
    color: white;
}

.join-1{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-left: 110px;
    color: white;
}

.shedule{
    height: 482px;
    width: 1320px;
    background-image: linear-gradient(pink , white);
    text-align: center;
    margin: auto;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.jn{
    padding: 10px;
    border-radius: 10px;
    background: red;font-weight: bold;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: white;
}

.table-1{
    height: 463px;
    width: 1320px;
    margin: auto;
}

.td-1{
    height: auto;
    width: 420px;
    text-align: left;
}

.nbo{
    color: red;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.cos{
    font-size: 48px;
    font-family: 'Merriweather', serif;
    color: black;
}

.td-2{
    height: 390px;
    width: 390px;
    margin: auto;
}

.td-3{
    align-items: left;
    height: auto;
    width: 420px;
    text-align: left;
}

.tt4{
    color: red;
    text-align: left;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.section-4{
    height: auto;
    width: 1320px;
    margin: auto;
    text-align: left;
}

.tbg{
    color: red;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.oap{
    font-size: 48px;
    font-family: 'Merriweather', serif;
}

.section-5{
    height: auto;
    width: 1320px;
    margin: auto;
    display: flex;
}

.pictures{
    margin: 8px;
    height: 450px;
    width: 424px;
    border-radius: 16px;
}

.section-6{
    height: 616px;
    width: 1320px;
    margin: auto;
    background-color: antiquewhite;
    border-radius: 16px;
}

.sn{
    font-size: 48px;
    font-family: 'Merriweather', serif;
}

.table-2{
    height: 50px;
    width: 600px;
    margin: auto;
    background-color: white;
    border-radius: 50px;
}

.td-4{
    text-align: left;
    text-decoration: none;
    width: 450px;
}
.td-5{
    height: auto;
    width: 150px;
    background-color: red;
    border-radius: 50px;
}

.footer{
    width: 1500px;
    background-color: #070211;
}

.bbr{
    font-size: 24px;
    font-weight: 500px;
    font-family: 'Inter', sans-serif;
    color: white;
    margin-left: 20px;
}

.fs-1{
    margin: auto;
    display: flex;
    width: 1320px;
    height: auto;
}

.bgf{
    font-size: 24px;
    font-weight: 500px;
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: left;
}

.fd-1{
    height: auto;
    width: 400px;
    align-items: right;
}

.Unsubscribe{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    text-align: right;
    color: white;
}

.arr{
    width: 800px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    text-align: left;
}